<script src="~/js/pages/productos.js"></script>

<div class="text-center">
    <h1>Producto</h1>
</div>
<div class="row">
    <div class="col-6 col-12">
        <label>Nombre: </label>
        <br/>
        <input type="text" id="nombreProducto" />
    </div>
    <br />
    <div class="col-6 col-12">
        <label>Foto: </label>
        <br />
        <input type="file" />
    </div>
</div>
<br />
<div class="row">
    <div class="col-6 col-12">
        <label for="descripcion">Descripción: </label>
        <br />
        <textarea name="descripcion" id="descripcionProducto" rows="5" cols="50"></textarea>
    </div>
    <br />
    <div class="col-6 col-12">
        <label>Tipo: </label>
        <br />
        <select id="slcTipoProducto">

        </select>
    </div>
</div>
<div class="row">
    <div class="col-6 col-sm-10"></div>
    <div class="col-6 col-sm-2">
        <button class="btnGeneral btn btn-block" onclick="AgregarProducto();">Agregar</button>
    </div>

</div>
<div class="row text-center" id="divMsj" style="display:none;">
    <label id="lblMensaje"></label>
</div>

<div style="display:none;">
    @Html.Hidden("URLCreateProducto", Url.Action("Index", "CreateProducto"))
    @Html.Hidden("URLGetTiposProducto", Url.Action("GetTiposProducto", "TipoProducto"))
</div>

