<link href="~/css/productosactivos.css" rel="stylesheet" />

<div class="container mt-5">
    <div class="row" id="productosContainer">
        <!-- Aquí se insertarán las tarjetas de productos -->
    </div>
</div>

<div class="fixed-footer fixed-bottom" " id="footerTotal" style="display:none">
    <span>Total a pagar: $<span id="total-amount">0.00</span></span>
    <a href="/Carrito/Carrito" class="btn btn-primary">Ir al carrito</a>
</div>

<div style="display:none;">
    @Html.Hidden("URLGetProductosActivos", Url.Action("GetProductosActivos", "Producto"))
    @Html.Hidden("URLGetTiposProducto", Url.Action("GetTiposProducto", "TipoProducto"))
    @Html.Hidden("URLAgregarProducto", Url.Action("AgregarProducto", "Carrito"))
    @Html.Hidden("URLObtenerTotalCarrito", Url.Action("ObtenerTotalCarrito", "Carrito"))
</div>

<script type="text/javascript" src="~/js/pages/ProductosActivos.js" asp-append-version="true"></script>