<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoFinal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/general.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <link href="~/css/productosactivos.css" rel="stylesheet" />
    <link href="~/css/pedidosadmin.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/ProyectoFinal.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.7/signalr.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="~/icons/fontawesome.css" rel="stylesheet" />
    <link href="~/icons/brands.css" rel="stylesheet" />
    <link href="~/icons/solid.css" rel="stylesheet" />

    @* ENTITIES *@
    <script src="~/js/entities/producto.js"></script>
    <script src="~/js/entities/tipoproducto.js"></script>
    <script src="~/js/entities/usuario.js"></script>
    <script src="~/js/entities/carrito.js"></script>
    <script src="~/js/entities/productocantidad.js"></script>
    <script src="~/js/entities/mesa.js"></script>
    <script src="~/js/entities/pedido.js"></script>
    @* FIN ENTITIES *@
    <script src="~/js/pages/layout.js"></script>
</head>
<body>
    <div id="divEncabezado" class="divEncabezado text-center content container-fluid">
        <div class="row">
            <button class="btnMenu col-1" id="btnMostrarMenu">☰ <span class="d-none d-lg-inline">Menú</span></button>
            <div class="col-10"></div>
            <div class="col-1 btnMenu">
                <a class="text-dark" asp-area="" asp-controller="Carrito" asp-action="Carrito"><i class="fa-regular fa-cart-shopping"></i> Carrito</a>
            </div>
        </div>
    </div>
    <div class="menuPrincipal" id="sidebar">
        <ul class="nav flex-column">
            @if (Context.Session.GetString("rol") == null)
            {
                <li class="nav-item opcionMenu">
                    <a class="nav-link text-dark opcionMenuAs" asp-area="" asp-controller="Login" asp-action="Login"><i class="fa-solid fa-user"></i>  Ingresar</a>
                </li>
                <li class="nav-item opcionMenu">
                    <a class="nav-link text-dark opcionMenuAs" asp-area="" asp-controller="Login" asp-action="Registro"><i class="fa-solid fa-arrow-right"></i>  Registrarse</a>
                </li>
                <li class="nav-item opcionMenu">
                    <a class="nav-link text-dark opcionMenuAs" asp-area="" asp-controller="Producto" asp-action="GetProductos"><i class="fa-regular fa-bag-shopping"></i>  Productos</a>
                </li>
            }
            @if (Context.Session.GetString("rol") == "Admin")
            {
                <li class="nav-item opcionMenu">
                    <a class="nav-link text-dark opcionMenuAs" asp-area="" asp-controller="Producto" asp-action="CreateProducto"><i class="fa-regular fa-circle-plus"></i>  Crear Producto</a>
                </li>
                <li class="nav-item opcionMenu">
                    <a class="nav-link text-dark opcionMenuAs" asp-area="" asp-controller="Login" asp-action="RegistroAdmin"><i class="fa-solid fa-user-shield"></i>  Ingresar Admin</a>
                </li>
                <li class="nav-item opcionMenu">
                    <a class="nav-link text-dark opcionMenuAs" asp-area="" asp-controller="Producto" asp-action="GetProductosList"><i class="fa-regular fa-list-ul"></i>  Lista de Productos</a>
                </li>
                <li class="nav-item opcionMenu">
                    <a class="nav-link text-dark opcionMenuAs" asp-area="" asp-controller="Pedido" asp-action="PedidosFinalizados"><i class="fa-regular fa-clipboard-list"></i>  Pedidos Finalizados</a>
                </li>
                <li class="nav-item opcionMenu">
                    <a class="nav-link text-dark opcionMenuAs" asp-area="" asp-controller="Pedido" asp-action="AdministracionPedidos"><i class="fa-solid fa-file-lines"></i>  Administración de Pedidos</a>
                </li>

            }
            @if (Context.Session.GetString("rol") == "Cliente")
            {
                <li class="nav-item opcionMenu">
                    <a class="nav-link text-dark opcionMenuAs" asp-area="" asp-controller="Login" asp-action="DatosPersonales"><i class="fa-solid fa-circle-user"></i>  Datos Personales</a>
                </li>
                <li class="nav-item opcionMenu">
                    <a class="nav-link text-dark opcionMenuAs" asp-area="" asp-controller="Pedido" asp-action="PedidosCliente"><i class="fa-regular fa-rectangle-list"></i>  Pedidos</a>
                </li>
            }
            @if (Context.Session.GetString("rol") == "Cliente" || Context.Session.GetString("rol") == "Admin")
            {
                <li class="nav-item opcionMenu">
                    <a class="nav-link text-dark opcionMenuAs" asp-area="" asp-controller="Producto" asp-action="GetProductos"><i class="fa-regular fa-bag-shopping"></i>  Productos</a>
                </li>
                <li class="nav-item opcionMenu">
                    <a class="nav-link text-dark opcionMenuAs" asp-area="" asp-controller="Login" asp-action="Logout"><i class="fa-regular fa-right-to-bracket"></i>  Cerrar Sesión</a>
                </li>

            }
        </ul>
    </div>
    <div class="container main-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            2024 - LaTrillada
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
