<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoFinal</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/general.css" rel="stylesheet" />
    <link href="~/css/login.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/ProyectoFinal.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div id="divEncabezado" class="divEncabezado text-center content container-fluid">
        <div class="row">
            <button class="btnMenu col-1" id="btnMostrarMenu">☰ <span class="d-none d-lg-inline">Menú</span></button>
        </div>
    </div>
    <div class="menuPrincipal" id="sidebar">
        <ul class="nav flex-column">
            @if (Context.Session.GetString("rol") == null)
            {
                <li class="nav-item opcionMenu">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Login">Ingresar</a>
                </li>
                <li class="nav-item opcionMenu">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Registro">Registrarse</a>
                </li>
            }
            @if (Context.Session.GetString("rol") == "Admin")
            {
                <li class="nav-item opcionMenu">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Producto" asp-action="Index">Producto</a>
                </li>
                <li class="nav-item opcionMenu">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="RegistroAdmin">Ingresar Admin</a>
                </li>
                <li class="nav-item opcionMenu">
                    <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Lista de Productos</a>
                </li>

            }
            @if (Context.Session.GetString("rol") == "Cliente")
            {
                <li class="nav-item opcionMenu">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="DatosPersonales">Datos Personales</a>
                </li>
            }
            @if (Context.Session.GetString("rol") == "Cliente" || Context.Session.GetString("rol") == "Admin")
            {
                <li class="nav-item opcionMenu">
                    <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Pedido</a>
                </li>
                <li class="nav-item opcionMenu">
                    <a class="nav-link text-dark" asp-area="" asp-controller="" asp-action="">Productos</a>
                </li>
                <li class="nav-item opcionMenu">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Logout">Cerrar Sesión</a>
                </li>
            }
        </ul>
    </div>
    <div class="container main-content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            2024 - LaTrillada
        </div>
    </footer>
    <script src="~/js/pages/layout.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @* ENTITIES *@
    <script src="~/js/entities/producto.js"></script>
    <script src="~/js/entities/tipoproducto.js"></script>
    <script src="~/js/entities/usuario.js"></script>
    @* FIN ENTITIES *@
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
