<link href="~/css/pedidosadmin.css" rel="stylesheet" />


<div class="text-center">
    <h1>Administración Pedidos</h1>
</div>

<div id="divPedidosPendientes" class="row">
</div>

<div style="display:none;">
    @Html.Hidden("URLPedidosPendientes", Url.Action("PedidosPendientes", "Pedido"))
    @Html.Hidden("URLGetPedidoVista", Url.Action("GetPedidoVista", "Pedido"))
    @Html.Hidden("URLActualizarEstadoPedido", Url.Action("ActualizarEstadoPedido", "Pedido"))
    @Html.Hidden("URLCancelarPedido", Url.Action("CancelarPedido", "Pedido"))
</div>

<script type="text/javascript" src="~/js/pages/admpedidos.js" asp-append-version="true"></script>