<div class="text-center">
    <h1>Carrito</h1>
</div>

<div id="divProdList" class="row">

</div>


<div style="display:none;">
    @Html.Hidden("URLGetProductIds", Url.Action("GetProductIds", "Producto"))
    @Html.Hidden("URLObtenerProductosCarrito", Url.Action("ObtenerProductosCarrito", "Carrito"))
    @Html.Hidden("URLEliminarLinea", Url.Action("EliminarLinea", "Carrito"))
    @Html.Hidden("URLPedidoLogueado", Url.Action("PedidoLogueado", "Pedido"))

</div>

<script type="text/javascript" src="~/js/pages/carritopage.js" asp-append-version="true"></script>