h2 {
    text-shadow: 5px 5px 8px rgba(256, 256, 256, 2);
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #000 !important;
}

.card-img-top {
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.card-body {
    flex: 1;
}

.card-footer {
    text-align: center;
}
